html,
body {
    /* height: 100vh; */
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: auto; */
    background-color: #000000;
    color: white;
    font-size: 24px;
    border-radius: 10px;
    padding: 10px 10px;
}

.cta-button {
    background-color: white;
    border-radius: 25px;
    border-color: orange;
    width: 250px;
    height: 50px;
}

.cta-button:hover {
    background-color: orange;
    border-radius: 25px;
    border-color: orange;
    width: 250px;
    height: 50px;
}

.link-label {
    color: orange;
}

.link-label:hover {
    cursor: pointer;
}

.list-account {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 0px 10px;
    width: auto;
    /* background-color: aqua; */
}

.list-accounts {
    display: flex;
    flex-direction: column;
    padding: 5px 5px 6px 5px;
    font-size: 18px;
    /* align-items: start; */
    justify-content: space-around;
    width: 100%;
    /* background-color: bisque; */
}

.text-green {
    color: chartreuse;
}

.activity-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.activity-list {
    display: flex;
    gap: 90px;
    text-align: left;
    width: 100%;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    font-size: 18px;
}